.hero-img{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
}
.hero-img::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29tcHV0ZXIlMjBwcm9qZWN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    
    background-size: fit;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img p{
    font-size: 1.4rem;
    align-items: center;
}

@media screen and (min-width: 640px){
    .hero-img h1{
        font-size: 2rem;
    }
    .hero-img p{
        font-size: 1.4rem;
        text-align: center;
    }
}